{% extends "base.html" %}

{% load static %}

{% block title %}Feeds{% endblock %}

{% block content %}
<!-- Page title -->
<h1 class="text-center p-2 d-block page-title">
  Recent Feeds
</h1>
<!-- Page image -->
<div class="feed-list-img text-center">
  <img src="{% static 'images/baby-milk-bottle.webp' %}" alt="Baby milk bottle clipart" class="bottle-feed-pic">
</div>
<h2 class="text-center p-2 d-block">
  Select entry for more details, or to edit/delete
</h2>
<div class="container d-flex flex-row flex-wrap justify-content-center">
  <!-- For loop to iterate over user's feed entries and display them in a list-->
  {% for feed in feeds_list %}
  <!-- Bootstrap card class to display individual feeds -->
  <div class="card feeds_list_card" aria-label="{{feed.feed_type}} feed from {{feed.date_and_time}}"
    style="width: 18rem;">
    <div class="card-body ">
      <a href="{% url 'feed_detail' feed.id %}">
        <h3 class="card-title text-success">{{feed.feed_type|title}} feed</h3>
      </a>
      <h4>{{feed.date_and_time}}</h4>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}