{% extends "base.html" %}

{% load static %}

{% block title %}Feeds{% endblock %}

{% block content %}
<h1 class="text-center p-2 d-block">
  Recent Feeds
</h1>
<div class="feed-list-img text-center">
  <img src="{% static 'images/baby-milk-bottle-2.webp' %}" alt="Baby milk bottle clipart" class="list-view-pic-feed">
</div>
<h2 class="text-center p-2 d-block">
  Select entry for more details, or to edit/delete
</h2>
<div class="container d-flex flex-row flex-wrap justify-content-center">
  {% for feed in feeds_list %}
  <div class="card feeds_list_card" aria-label="{{feed.feed_type}} feed from {{feed.date_and_time}}"
    style="width: 18rem;">
    <div class="card-body ">
      <a href="{% url 'feed_detail' feed.id %}">
        <h3 class="card-title">{{feed.feed_type|title}} feed</h3>
      </a>
      <h4>{{feed.date_and_time}}</h4>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}