{% extends "base.html" %}


{% block title %}Feeds{% endblock %}

{% block content %}
<h1 class="text-center p-2 d-block">
    Recent Feeds
</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
    {% for feed in feeds_list %}
    <div class="card feeds_list_card" aria-label ="{{feed.feed_type}} feed from {{feed.date_and_time}}" style="width: 18rem;">
    <div class="card-body ">
          <h2 class="card-title">{{feed.feed_type|title}} feed</h2> 
          <h3>{{feed.date_and_time}}</h3>
          <p class="card-text">Formula Amount (ml): {{feed.formula_amount_ml}}</p>
          <p class="card-text">Breast Feed Duration (Minutes): {{feed.breast_feed_time_minutes}}</p>
          <p class="card-text">Notes: {{feed.notes}}</p>
          {% if request.user == feed.user %}
          <div class="text-center">
            <a href="{% url 'edit_feed' feed.id %}" class="btn btn-primary w-50 mx-3 mb-3">Edit</a>
            <a href="{% url 'delete_feed' feed.id %}" class="btn btn-primary w-50">Delete</a>
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}