{% extends "base.html" %}

{%load static %}

{% block title %} Feed Details - {{ nappy_change.date_and_time }} {% endblock %}

{% block content %}
<div class="container">
    <div class="detail-view-info mt-3 p-1">
        <div class="feed-img">
            <img src="" alt="" class="detail-view-pic">
        </div>
        <div class="detail-view-detail">
            <h1 class="detail-view-title text-center p-2 d-block page-title">{{feed.feed_type|title}} feed</h1>
            <div class="feed-img">
                {% if feed.feed_type == "breast" %}
                <img src="{% static 'images/breast-feeding.webp' %}" alt="Breast feed clipart"
                    class="detail-view-pic-breast-feed">
                {% endif %}
                {% if feed.feed_type == "formula" %}
                    <img src="{% static 'images/baby-milk-bottle.webp' %}" alt="Baby milk bottle clipart"
                    class="bottle-feed-pic">
                {% endif %}
            </div>
            <h2 class="text-center">{{feed.date_and_time}}</h2>
            {% if feed.feed_type == "formula" %}
            <p class="detail-view-text-formula text-center">Formula Amount (ml): {{feed.formula_amount_ml}}</p>
            {% endif %}
            {% if feed.feed_type == "breast" %}
            <p class="detail-view-text-breast text-center">Breast Feed Duration (Minutes): {{feed.breast_feed_time_minutes}}</p>
            {% endif %}
            <p class="detail-view-text text-center">Notes: {{feed.notes}}</p>
            {% if request.user == feed.user %}
            <div class="text-center">
                <a href="{% url 'edit_feed' feed.id %}" class="btn btn-primary btn-lg authentication-button w-50 mx-3 mb-3">Edit</a>
                <a href="{% url 'delete_feed' feed.id %}" class="btn btn-primary btn-lg authentication-button w-50">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}