{% extends "base.html" %}

{% block title %}Delete Feed Entry {{object.feed_type}} feed from {{object.date_and_time}}{% endblock %}

{% block content %}
<div class="container">
    <!-- Page title -->
    <h1 class="text-center mt-2 page-title">Confirm Deletion</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method="post" class="text-center">
            <!-- CSRF token-->
            {% csrf_token %}
            <!-- Confirm delete prompt and confirm button -->
            <p>Are you sure you want to delete {{object.feed_type|title}} Feed Entry from {{object.date_and_time}}?</p>
            <input type="submit" value="Confirm" class="btn btn-primary w-25 authentication-button" aria-label="Confirm delete">
        </form>
    </div>
</div>
{% endblock %}