{% extends 'base.html' %}

{% block title %} Tracker.Baby Home {% endblock %}

{% block content %}
<div class="container">
    {% if request.user.is_authenticated %}
    <h1 class="text-center mt-2">Tracker.Baby Dashboard</h1>
    <div class="d-flex justify-content-center text-center pt-3">
        <ul>
            <li class="home-page-text">Add nappy changes</li>

            <li class="home-page-text">View nappy changes</li>

            <li class="home-page-text">Add feeds</li>

            <li class="home-page-text">View feeds</li>
        </ul>
    </div>
</div>
{% else %}
<div class="container">
    <h1 class="text-center mt-2">Welcome to Tracker.Baby</h1>
    <div>
        <p class="home-page-text text-center mt-2"><a href="/accounts/login/">Sign in</a> or <a href="accounts/signup/">register</a> to:
        </p>
    </div>
    <div class="d-flex justify-content-center text-center pt-3">
        <ul>
            <li class="home-page-text">Add nappy changes</li>

            <li class="home-page-text">View nappy changes</li>

            <li class="home-page-text">Add feeds</li>

            <li class="home-page-text">View feeds</li>
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}