{% extends 'base.html' %}

{% load static %}

{% block title %} Tracker.Baby Home {% endblock %}

{% block content %}
<div class="container">
    <!-- If statement to check if user is authenticated and display the appropriate version of the page -->
    {% if request.user.is_authenticated %}
    <!-- Page title -->
    <h1 class="text-center mt-2 page-title">Dashboard</h1>
    <!-- Page image -->
    <div class="site-logo-container">
        <img src="{% static 'images/baby-tracker-logo.webp' %}" alt="Baby head with heart symbol clip art"
            class="site-logo">
    </div>
    <!-- Dashboard options list -->
    <div class="d-flex justify-content-center text-center pt-3 dashboard-options">
        <ul>
            <a href="{% url 'add_feed' %}">
                <li class="home-page-text dashboard-options-list text-success">Add feed</li>
            </a>

            <a href="{% url 'feeds_list' %}">
                <li class="home-page-text dashboard-options-list text-success">View feeds</li>
            </a>

            <a href="{% url 'add_nappy_change' %}">
                <li class="home-page-text dashboard-options-list text-success">Add nappy</li>
            </a>

            <a href="{% url 'nappy_changes_list' %}">
                <li class="home-page-text dashboard-options-list text-success">View nappies</li>
            </a>
        </ul>
    </div>
</div>
<!-- Non-authenticated version of the Home page  -->
{% else %}
<div class="container">
    <h1 class="text-center mt-2 page-title">Welcome</h1>
    <div class="site-logo-container">
        <img src="{% static 'images/baby-tracker-logo.webp' %}" alt="Baby head with heart symbol clip art"
            class="site-logo">
    </div>
    <div>
        <p class="home-page-text text-center mt-2">
            Tracker.Baby is your simple and easy way to track and view your baby's feeds and nappy changes.
        </p>
        <p class="home-page-text text-center mt-2">
            Please <a href="/accounts/login/" class="text-success">sign in</a>, or <a href="accounts/signup/"
                class="text-success">register</a> to get started.
        </p>
    </div>
</div>
{% endif %}
{% endblock %}