{% extends "base.html" %}

{% load static %}

{% block title %} Add Nappy Change {% endblock %}

{%block content %}
<div class="container form-entry-container">
    <form method="POST" class="p-2 form">
        <h1 class="text-center page-title">Add Nappy Change</h1>
        <div class="nappy-change-list-img text-center">
            <img src="{% static 'images/nappy-change-img-2.webp' %}" alt="Nappy change clipart"
                class="list-view-pic-nappy">
        </div>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg mt-2 authentication-button">Enter Nappy Change</button>
        </div>
    </form>
</div>
{% endblock %}