{% extends "base.html" %}

{% load static %}

{% block title %}Nappy Changes{% endblock %}

{% block content %}
<h1 class="text-center p-2 d-block page-title">
  Recent Nappy Changes
</h1>
<div class="nappy-change-list-img text-center">
  <img src="{% static 'images/nappy-change-img-2.webp/' %}" alt="Nappy change clipart" class="list-view-pic-nappy">
</div>
<h2 class="text-center p-2 d-block">
  Select entry for more details, or to edit/delete
</h2>
<div class="container d-flex flex-row flex-wrap justify-content-center">
  {% for nappy_change in nappy_changes_list %}
  <div class="card nappy_changes_list_card"
    aria-label="{{nappy_change.nappy_contents}} nappy from {{nappy_change.date_and_time}}" style="width: 18rem;">
    <div class="card-body ">
      <a href="{% url 'nappy_change_detail' nappy_change.id %}">
        <h3 class="card-title text-success">{{nappy_change.nappy_contents|title}} nappy</h3>
      </a>
      <h4>{{nappy_change.date_and_time}}</h4>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}