<footer>
        <!-- Social media icons -->
        <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                aria-label="Find us on Facebook (opens in a new tab)"><i
                        class="fa-brands fa-facebook-f social-icon"></i></a>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                aria-label="Find us on X (opens in a new tab)"><i class="fa-brands fa-x-twitter social-icon"></i></a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                aria-label="Find us on Instagram (opens in a new tab)"><i
                        class="fa-brands fa-instagram social-icon"></i></a>
        <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                aria-label="Find us on YouTube (opens in a new tab)"><i
                        class="fa-brands fa-youtube social-icon"></i></a>
</footer>