{%load static %}

<header>
  {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container-fluid">
            <!-- Logo ++FILL OUT THIS BIT++ -->
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Navigation Items -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'add_feed' %}active{% endif %}" href="{% url 'add_feed' %}">Add Feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'feeds_list' %}active{% endif %}" href="{% url 'feeds_list' %}">View/Edit Feeds</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'add_nappy_change' %}active{% endif %}" href="{% url 'add_nappy_change' %}">Add Nappy Change</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'nappy_changes_list' %}active{% endif %}" href="{% url 'nappy_changes_list' %}">View/Edit Nappy Changes</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}" href="/accounts/logout/">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_signup' %}active{% endif %}" href="/accounts/signup/">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}" href="/accounts/login/">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
{% endwith %}
</header>